<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <!-- Developer Properties that are handled in the Apprenda SOC. This allows you to test your addon configuration
         without having an Apprenda instance available.
         
         Refer to the documentation for more detail on specific values to enter here.
    -->
    <add key="ProvisioningUsername" value="" />
    <add key="ProvisioningPassword" value="" />
    <add key="ProvisioningLocation" value="" />
    <add key="ClusterMgtEndpoint" value="" />
    <add key="ShareEndpoint" value="" />
    <add key="AdminUsername" value="" />
    <add key="AdminPassword" value="" />
    <add key="VServer" value="" />
    <add key="DefaultProtocol" value="" />
    <add key="DefaultAggregate" value="" />
    <add key="DefaultRootPath" value="" />
    <add key="SnapEnable" value="" />
    <add key="VaultEnable" value="" />
    <add key="SnapMirrorSchedule" value="" />
    <add key="SnapVaultSchedule" value="" />
    <add key="SnapVaultPolicyName" value="" />
    <add key="SnapMirrorPoicyName" value="" />
    <add key="SnapType" value="" />
    <add key="MaxAllocatedStorage" value="" />
    <add key="ScriptRepo" value=""/>
    
    <!-- Developer Parameters - this simulates what the Developer would enter when provisioning 
    an instance of this addon.
    -->

    <add key="VolumeName" value="" />
    <add key="Size" value="" />
    
  </appSettings>
</configuration>